<nav class="navbar app-header">
    <div class="container-fluid">
        <div class="">
            <ul class="nav navbar-nav navbar-left">
                <li><a class='header-logo' href="/">applogo</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/signin">Sign In</a></li>
                <li><a href="#!/help">Help</a></li>
                <li><a href="#!/signup">Sign Up</a></li>
            </ul>
        </div>
    </div>

</nav>